header{
    background-color: rgb(137, 138, 141);
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin:0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(0, 3, 206);
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
  /*border-color: black;
    border-width: 2px;
    border-style:solid;*/
   
    border-radius: 10px;
    /*border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;*/
}
.productos li:hover{
    border-color: blue;
}

.productos li:active{
    border-color: rgb(2, 175, 40);
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 32px;
}
.productoDescripcion{
    font-size: 20px;
}
.productoPrecio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}
.copy{
    color: white;
    font-size: 13px;
    margin: 20px;
}