body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
header{
    background-color: rgb(137, 138, 141);
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin:0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(0, 3, 206);
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
  /*border-color: black;
    border-width: 2px;
    border-style:solid;*/
   
    border-radius: 10px;
    /*border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;*/
}
.productos li:hover{
    border-color: blue;
}

.productos li:active{
    border-color: rgb(2, 175, 40);
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 32px;
}
.productoDescripcion{
    font-size: 20px;
}
.productoPrecio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}
.copy{
    color: white;
    font-size: 23px;
    margin: 20px;
}

table{
    margin: 40px 40px;

}
thead{
    background: rgba(24, 23, 23, 0.801);
    color: white;
    font-weight: bold;

}
td,th{
    border: 1px solid black;
    padding: 8px 15px ;
}


/* CSS para nuestro index*/

.banner{
    width: 100%;
}
/*
main > p {  Seleccionar hijos 
    color: red; 
}
img + p {   Seleccionar hijos
    backgroung: yellow;
}
img ~ p {  Seleccionar todos 
    background: green;
}

principal p:not(#id){ Todo exepto 
    background: orenge;
    width : calc(40%-(26px*4))
}
*/
.titulo-principal{
    text-align: center;
    font-size: 2em;
    
    clear: left;
}
.titulo-principal:first-letter{
    font-family: ;
}
.principal{
    width: 75%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 2em;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utencilios{
    width: 120px;   
    float: left;
    margin:0  20px 20px 0;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient( rgb(255, 255, 255), rgb(128, 128, 128));
    /*background: linear-gradient(45deg, red, orange, blue);
    background: radial-gradient(45deg, red, orange, blue);*/
}
.mapa h3{
    font-size: 2em;
    padding: 0 0 1em 0;
    text-align: center;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.diferenciales{
    background: rgb(128, 128, 128);
    /*background: rgba(24, 23, 23, 0.801);   Tranparencia*/ 
    padding: 20px;
}

.contenido-diferencial,.mapa-tamaño{
    width: 60%;
    margin: auto;
    
    padding: 2em;
}
.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
/*.items: :nth-child(2){  Con esta propiedad podemos poner pares 

}*/
.items{
    line-height: 1.5;
}
.items:before{
    content: "✦";
}
.items:first-child{
    font-weight: bold;
}
.imagendiferencial{
    width: 60%;
    
}
.imagendiferencial:hover{
    opacity: 0.8;
    transition: 400ms;
    box-shadow: 0 0 25px black;
}

.video{
    width: 100%;
    margin:  auto;
    padding: 2em 0 0 0;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    nav li{
        display: block;
    }
    .contenido-diferencial{
        width: 100%;
        padding: 0;
    }
    .caja,.principal,.video{
        width: auto;

    }
    .lista-diferenciales, .imagendiferencial{
        width: 100%;
    }

}